../obj_dir/
rtl_pipelining/obj_dir/
*.bin
*.dis
*.vcd
*.d
*.o
*.sh
*.dat
a.out
a.out.reloc
.vscode
*.code-workspace
vbuddy.cfg
riscv-binutils-gdb
tb/assemble.sh
rtl_pipelining/obj_dir/Vtop__verFiles.dat
